* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: #0f101a;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
  justify-content: space-between;
}

/* tr {
  display: flex;
  justify-content: space-between;
} */

body {
  max-width: 500px;
  margin: 10rem auto;
  background-color: rgb(114, 142, 255);
}
main {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  border-color: #0f101a;
  border-style: solid;
}

h1 {
  border-radius: 0.6rem;
  border-color: #0f101a;
  border-style: solid;
  width: fit-content;
  padding: 0.6rem 0.8rem;
}

h2 {
  margin: 1.2rem 0;
  box-shadow: 0px 3px #0f101a;
  width: fit-content;
  padding-bottom: 0.2rem;
}

table {
  width: 100%;
}

[data-field="done"] {
  width: 20px;
}
[data-field="date"] {
  width: 90px;
}

[data-field="fav"] {
  margin: auto 0 auto auto;
  width: 22px;
}
[data-field="id"] {
  margin: auto 0 auto auto;
  width: 26px;
  cursor: pointer;
}

[data-field="id"] svg {
  z-index: -4;
  margin-left: 0.4rem;
}

svg {
  margin: auto 0 auto auto;
}

form {
  width: 100%;

  display: flex;
  margin: 1rem 0 0;
}

#add_button {
  margin: 0 0 0 auto;
  padding: 0.2rem 0.4rem;

  cursor: pointer;
  border-radius: 0.5rem;
  border-color: #0f101a;
  border-style: solid;
}

#edit_button {
  height: fit-content;
  margin: auto 0;
  padding: 0.2rem 0.4rem;

  cursor: pointer;
  border-radius: 0.5rem;
  border-color: #0f101a;
  border-style: solid;
}
button {
  background-color: white;
}

button:hover {
  background-color: #0f101a;
  color: white;
}

input {
  border-radius: 0.5rem;
  border-color: #0f101a;
  border-style: solid;
  margin-right: 0.4rem;
  padding: 0 0.4rem;
}
